<h1><%= @cocktail.name %></h1>
<% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<% @cocktail.doses.each do |dose| %>
<% if dose.persisted? %>
  <p><%= dose.ingredient.name %> <%= dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete %></p>
  <% end %>
<% end %>
<%= render 'doses/form', cocktail: @cocktail, dose: @dose  %>
<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: 'btn btn-success' %></br>
<%= link_to "Back to cocktails", cocktails_path %>